<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 自动扫描包，实现支持注解的IOC -->
    <context:component-scan base-package="com.example.jikedemo.controller"/>
    <context:component-scan base-package="cn.wanghan.demo.controller"/>
    <context:component-scan base-package="cn.wanghan.demo.service"/>

    <!-- 支持mvc注解驱动 -->
    <mvc:annotation-driven/>

    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--<mvc:resources mapping="/WEB-INF/css/**" location="/WEB-INF/css/" />-->
    <!--<mvc:resources mapping="/WEB-INF/*.html" location="/WEB-INF/"/>-->

    <!-- Spring MVC不处理静态资源 -->
    <mvc:default-servlet-handler/>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--converters转换方式注册-->
    <!--<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
        <!--<property name="converters">-->
            <!--<list>-->
                <!--<bean class="cn.wanghan.demo.service.MyConverter">-->
                    <!--<constructor-arg type="java.lang.String" value="MM-dd-yyyy"/>-->
                <!--</bean>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<mvc:annotation-driven conversion-service="conversionService"/>-->

    <!--formatter方式转换，注册 -->
    <!--<mvc:annotation-driven conversion-service="conversionService"/>-->
    <!--<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">-->
        <!--<property name="formatters">-->
            <!--<set>-->
                <!--<bean class="cn.wanghan.demo.service.LocalDateFormatter">-->
                    <!--<constructor-arg type="java.lang.String" value="MM-dd-yy"/>-->
                <!--</bean>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->


    <!--注册Registrar,就不用注册 formatter了-->
    <mvc:annotation-driven conversion-service="conversionService"/>
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="formatterRegistrars">
            <set>
                <bean class="cn.wanghan.demo.service.MyFormatterRegistrar">
                    <constructor-arg type="java.lang.String" value="MM-dd-yyyy"/>
                </bean>
            </set>
        </property>
    </bean>
    <!-- 视图解析器 -->
    <!--<bean id="viewResoler" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix" value="/WEB-INF/jsp/"/>-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <!--<bean name="featuredProduct" class="com.example.jikedemo.dao.Product">-->
        <!--<constructor-arg name="name" value="Ultimate Olive Oil"/>-->
        <!--<constructor-arg name="description" value="The purest olive oil on the market"/>-->
        <!--<constructor-arg name="price" value="9.95"/>-->
    <!--</bean>-->

    <!--<bean name="simpleAddress" class="com.example.jikedemo.dao.Address">-->
        <!--<constructor-arg name="line1" value="151 Corner Streer"/>-->
        <!--<constructor-arg name="line2" value=""/>-->
        <!--<constructor-arg name="city" value="Albany"/>-->
        <!--<constructor-arg name="state" value="NY"/>-->
        <!--<constructor-arg name="zipCode" value="99999"/>-->
        <!--<constructor-arg name="country" value="US"/>-->
    <!--</bean>-->

    <!--<bean name="employee1" class="com.example.jikedemo.dao.Employee">-->
        <!--<property name="homeAddress" ref="simpleAddress"/>-->
        <!--<property name="firstName" value="Junior"/>-->
        <!--<property name="lastName" value="Moore"/>-->
    <!--</bean>-->

    <!--<bean name="/input-product" class="cn.wanghan.demo.controller.InputProductController"/>-->
    <!--<bean name="/save-product" class="cn.wanghan.demo.controller.SaveProductController"/>-->


</beans>